@page "/"
@rendermode InteractiveServer

<div class="container mt-4">
    <div class="row">
        @foreach (var table in Tables)
        {
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card border shadow-sm bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Table @table.Id</h5>
                        <p class="fw-bold"> Status: @table.Status</p>
                        <p>@(table.OrderNumber != 0 ? $"Order #{table.OrderNumber}" : "No Active Order")</p>
                        <button class="btn btn-outline-primary w-100" @onclick="() => TableService.ToggleTable(table.Id)">Toggle Table</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



