@using RestaurantOrderManager.Shared.Models

<div class="row g-3">
    @foreach (var menuItem in Menu)
    {
        <div class="col-lg-4 col-md-6 col-sm-12" @key=menuItem.Id>
            <MenuItemCard Item="menuItem" OnAddRequested="ForwardAddAsync" />
        </div>
    }
</div>